<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzb.shortvideo.mapper.VideoFavourMapper">

    <resultMap id="BaseResultMap" type="com.lzb.shortvideo.model.entity.VideoFavour">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="videoId" column="videoId" jdbcType="BIGINT"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,videoId,userId,
        createTime,updateTime
    </sql>
    <select id="listFavourVideoByPage"
            resultType="com.lzb.shortvideo.model.entity.Video">
        select v.*
        from video v
                 join (select videoId from video_favour where userId = #{favourUserId}) pf
                      on v.id = pf.videoId ${ew.customSqlSegment}
    </select>
</mapper>
